/* Main config */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html {
    max-width: 1920px;
    padding: 0px 100px;
    margin: 0 auto;
    background-color: #F25D07;
}

/* Header style */

header {
    background-color: #340F59;
    height: 175px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    height: 68px;
    line-height: 175px;
    padding-left: 54px;
}

.headerLogoImg {
    height: 100px;
}

nav div ul {
    display: flex;
    padding-right: 30px;
}

.navBarItem {
    line-height: 175px;
    padding-left: 30px;
    padding-right: 30px;
}

nav div ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.bars {
    color: #F25D07;
    display: none;
}

#check {
    display: none;
}

/*Body style */

.responsiveMenu {
    display: none;
}

.overCarousel {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    z-index: 1;
    width: 400px;
}

.textOverCarousel {
    margin-top: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

.carousel {
    z-index: 0;
}

.carousel-item {
    height: 80vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.cards {
    background-image: url("../assets/fondo-cards.png");
    height: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cardBox {
    width: 500px;
}

.cardImage {
    width: 400px;
    text-align: center;
    margin-bottom: 50px;
}

.cardBoxImg {
    display: flex;
    justify-content: center;
}

.cardTitle {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.cardText {
    color: white;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

.cardButton a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cardButton {
    text-align: center;
    background-color: #F25D07;
    width: 170px;
    margin: 0 auto;
    border-radius: 100px;
    font-size: 28px;
    padding: 5px 10px;
    margin-top: 50px;
}

/* Footer style */

.footerUp {
    display: flex;
    background-color: #340F59;
    color: white;
    justify-content: space-between;
    padding: 50px 35px;
    align-items: center;
}

.locationTitle {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}

.locationMap {
    width: 500px;
}

.locationDescription {
    padding-top: 30px;
    font-size: 18px;
}

.footerLinks {
    margin-left: -400px;
}

.footerLinks ul li {
    padding: 20px;
    font-size: 20px;
}

.footerLinks ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footerRedes {
    display: flex;
    padding: 30px;
    margin-left: -400px;
}

.redLogo {
    padding: 20px;
}

.redName {
    font-size: 20px;
    margin: auto 0;
    font-weight: bold;
}

.footerDown {
    display: flex;
    justify-content: space-between;
    background-color: #F25D07;
    color: white;
    border: solid 1px black;
    height: 175px;
    padding: 30px;
}

.footerDownLeft {
    margin: auto 0;
}

.footerDownRight {
    margin: auto 0;
}

/* Mobile style */

@media screen and (max-width: 1699px) {

    .cards {
        height: 1800px;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width: 1499px) {

    html {
        padding: 0px
    }

    .navRight {
        display: none;
    }

    .bars {
        display: block;
        font-size: 50px;
        line-height: 175px;
        margin-right: 50px;
    }

    .responsiveMenu {
        display: block;
        position: absolute;
        z-index: 1;
        background-color: #F25D07;
        width: 100vw;
        height: 100vh;
        text-align: center;
        left: -100%;
        transition: all 0.5s;
    }

    #check:checked+.responsiveMenu {
        left: 0%;
    }

    .responsiveMenu ul li a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: bold;
        line-height: 160px;
    }

    .cards {
        height: 1800px;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width: 1199px) {

    .footerUp {
        flex-direction: column;
    }

    .mapBox {
        text-align: center;
    }

    .locationMap {
        width: 400px;
        height: 400px;
    }

    .locationDescription {
        margin-bottom: 50px;
    }

    .footerLinks {
        text-align: center;
        margin: 0;
    }

    .footerLinks ul {
        padding: 0;
        margin-bottom: 50px;
    }

    .footerRedes {
        text-align: center;
        margin: 0;
        padding: 0;
    }

}

@media screen and (max-width: 999px) {

    .cards {
        padding-top: 1px;
        height: 2200px;
        display: block;
    }

    .cardBox {
        width: 500px;
        margin: 100px auto;
    }

    .cardImage {
        width: 300px;
        text-align: center;
        margin-bottom: 50px;
    }

    .cardTitle {
        font-size: 30px;
    }

    .cardText {
        font-size: 18px;
    }

    .cardButton {
        width: 120px;
        font-size: 18px;
    }

    .footerLogo {
        height: 70px;
        padding-left: 50px;
    }

    .headerLogoImg {
        height: 70px;
        padding-left: 30px;
    }

    .cardBox {
        width: 300px;
        margin: 100px auto;
    }

    .locationMap {
        width: 380px;
        height: 380px;
    }

    .footerDownLeft {
        font-size: 13px;
    }

    .headerLogo {
        padding-left: 15px;
    }

}

@media screen and (max-width: 580px) {

    .overCarousel {
        margin-left: 20%;
        margin-top: 30%;
        width: 250px;
    }

    .textOverCarousel {
        font-size: 17px;
    }

}

@media screen and (max-width: 400px) {

    .locationMap {
        width: 330px;
        height: 330px;
    }

}