/* Main config */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #F25D07;
}

/* Header style */

header {
    background-color: #340F59;
    height: 175px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    height: 68px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 54px;
}

nav div ul {
    display: flex;
    padding-right: 30px;
}

.navBarItem {
    line-height: 175px;
    padding-left: 30px;
    padding-right: 30px;
}

nav div ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

/*Body style */

.carousel {
    height: 766px;
    position: absolute;
}

.cards {
    background-image: url("../assets/fondo-cards.png");
    height: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cardBox {
    width: 500px;
}

.cardImage {
    width: 400px;
    text-align: center;
    margin-bottom: 50px;
}

.cardBoxImg {
    display: flex;
    justify-content: center;
}

.cardTitle {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.cardText {
    color: white;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

.cardButton a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cardButton {
    text-align: center;
    background-color: #F25D07;
    width: 170px;
    margin: 0 auto;
    border-radius: 100px;
    font-size: 28px;
    padding: 5px 10px;
    margin-top: 50px;
}

/* Footer style */

.footerUp {
    display: flex;
    background-color: #340F59;
    color: white;
    justify-content: space-between;
    padding: 50px 35px;
    align-items: center;
}

.locationTitle {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}

.locationMap {
    width: 500px;
}

.locationDescription {
    padding-top: 30px;
    font-size: 18px;
}

.footerLinks {
    margin-left: -400px;
}

.footerLinks ul li {
    padding: 20px;
    font-size: 20px;
}

.footerLinks ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footerRedes {
    display: flex;
    padding: 30px;
    margin-left: -400px;
}

.redLogo {
    padding: 20px;
}

.redName {
    font-size: 20px;
    margin: auto 0;
    font-weight: bold;
}

.footerDown {
    display: flex;
    justify-content: space-between;
    background-color: #F25D07;
    color: white;
    border: solid 1px black;
    height: 175px;
    padding: 30px;
}

.footerDownLeft {
    margin: auto 0;
}

.footerDownRight {
    margin: auto 0;
}